.game__cell {
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid #000;
}

.game__cell_active {
  background: blue;
}

.game__cell_user {
  background: green;
}

.game__cell_computer {
  background: red;
}